@import '../../sass/variable';
@import '../../sass/mixin/breakpoint';
.m-timeline {
  width: 100%;
  min-height: 120px;
  height: 120px;
  overflow: hidden;
  position: relative;
  background: $c-yellow;
  .sets {
    display: flex;
  }
  .set {
    display: flex;
    justify-content: center;
    align-content: center;
    &.is-active {
      .timeline {
        &__point {
          background: $c-red;
        }
        &__content {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  .timeline {
    &__wrap {
      width: 100%;
      height: 100%;
      overflow: auto;
      white-space: nowrap;
    }
    &__line {
      display: inline-block;
      height: 2px;
      background-color: $c-grey;
      margin: 50px auto;
      padding-left: 50%;
    }
    &__now-year {
      color: $c-red;
      font-weight: bold;
      position: relative;
      transform: translate(-15px, -35px);
      margin-left: 30px;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(0px, 15px);
        background: $c-grey;
        width: 2px;
        height: 10px;
      }
    }
    &__date {
      display: flex;
      color: $c-red;
      font-weight: bold;
      padding: 0;
      margin-bottom: .5em;
      justify-content: flex-start;
      >span {
        position: relative;
        margin-right: 1.4em;
        &:after {
          position: absolute;
          right: -1.1em;
        }
      }
      >.y:not(:empty) {
        &:after {
          content: '年';
        }
      }
      >.m:not(:empty) {
        &:after {
          content: '月';
        }
      }
      >.d:not(:empty) {
        &:after {
          content: '日';
        }
      }
    }
    &__point {
      width: 16px;
      height: 16px;
      border: 2px solid $c-grey;
      border-radius: 50%;
      background: $c-base;
      cursor: pointer;
      transform: translate(0, -50%);
      margin: 0 30px;
      &:hover {
        background-color: $c-red;
      }
    }
    &__content {
      visibility: hidden;
      opacity: 0;
      border: 2px solid $c-grey;
      border-radius: 3px;
      color: $c-grey;
      min-width: 200px;
      max-width: 800px;
      position: absolute;
      left: 50%;
      padding: 1em;
      background: #FFF;
      transition: .5s ease-in-out;
      transform: translate(-50%, 50px);
      pointer-events: none;
      .content {
        position: relative;
        white-space: normal;
        @include for-phone-only {}
      }
    }
  }
}
