body {
    font-family: $ff-base;
    letter-spacing: 1.15px;
    max-width: 3840px;
    margin: 0 auto;
}

::selection {
    background-color: $c-grey--light;
    color: $c-grey--dark;
}

a {
    color: inherit;
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: inherit;
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $ff-base;
}

h3,
h4,
h5,
h6 {
    color: $c-green;
}

button,
input,
select,
textarea {
    font-family: $ff-base;
}
