body {
    font-family: $ff-base;
    letter-spacing: 1.15px;
}

a {
    color: inherit;
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: inherit;
        text-decoration: none;
    }
    &.link {
        display: block;
    }
}

ul,
ol {
    list-style: none;
}
