
@import 'variable';

// fonts
@import 'font';

// vendors
// @import 'vendor/normalize-scss/normalize';
@import 'vendor/default-clean-journal/clean-journal';

// mixins
@import 'mixin/breakpoint';

// default skin
@import 'base';
@import 'module/overwrite';

// layouts
@import 'layout/section';
@import 'layout/tab';
@import 'layout/tab-program';
@import 'layout/scrollspy';
@import 'layout/organization';
@import 'layout/404';
@import 'layout/content-none';
@import 'layout/category';

// modules
@import 'module/header';
@import 'module/footer';
@import 'module/button';
@import 'module/button-menu.scss';
@import 'module/sow-features-list';
@import 'module/triangles';
@import 'module/df-overwrite';
@import 'module/lity';
@import 'module/news-list';
@import 'module/link';
@import 'module/our-story';
@import 'module/banner';
@import 'module/display-rwd';
@import 'module/search-form';
