
@import 'variable';

// fonts
@import 'font';

// vendors
// @import 'vendor/normalize-scss/normalize';
@import 'vendor/default-clean-journal/clean-journal';

// mixins
@import 'mixin/breakpoint';

// default skin
@import 'base';

// modules
@import 'module/header';
@import 'module/footer';
@import 'module/button';
@import 'module/sow-features-list';
@import 'module/triangles';
