
@import 'variable';

// fonts
@import 'font';

// vendors
// @import 'vendor/normalize-scss/normalize';
@import 'vendor/default-septera/septera';

// mixins
@import 'mixin/breakpoint';

// default skin
@import 'base';

// modules
@import 'module/header';
@import 'module/footer';
@import 'module/button';
@import 'module/widget';
@import 'module/salon';
@import 'module/lightbox';
@import 'module/slider';
@import 'module/lity';
@import 'module/feature-nav';
@import 'module/hero-image';
