script(src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js", integrity="sha256-/IeNFU9g1Tnj9pOKq3jGgIU2/kiKS+t1Q7pwym7mpoA=", crossorigin="anonymous")
div.m-timeline
  .timeline__wrap
    .timeline__line
      .sets
        //- - for (let x = 0; x < 50; x++)
        //-   .set
        //-     .timeline__point
        //-     .timeline__content
        //-       .timeline__date
        //-         span.y 2013
        //-         span.m 02
        //-         span.d
