.banner
  h2.title.title--banner 常見問題
.faq#faq
  //- structures
  //- .faq-bricks
  //-   .brick(data-type="main") 常見十大問
  //-   .brick(data-type="teacher") 申請成為 TFT 老師
  //- .faq-type-container#faq-main
  //-   .faq-group
  //-     .title-container
  //-       h3.q-title TFT為何創立？想解決什麼問題？
  //-     .content-container
  //-       p TFT 的創立是希望有一天，台灣的所有孩子，不論出身，皆能擁有優質的教育與自我發展機會。 終極目標希望能解決台灣「教育不平等」的問題，讓孩子的出身不再限制他的未來。 然而，師資的「質」與「量」是台灣教育不平等的關鍵，因此，我們希望從「師資」開始，長期改善「教育不平等」的現況。
  //-   .faq-group
  //-     .title-container
  //-       h3.q-title TFT是什麼樣的計畫？為何如此設計？
  //-     .content-container
  //-       p TFT 是一個兩年全職教學專案計畫，招募具使命感與領導潛力的青年成為老師， 投入有需求的偏鄉國小，提供老師們持續的培訓與支持，希望這些青年能成為台灣優質教育的推動者，共同發揮長期影響力。
  //- .faq-type-container#faq-teacher
  //-   .faq-group
  //-     .title-container
  //-       h3.q-title TFT為何創立？想解決什麼問題？
  //-     .content-container
  //-       p TFT 的創立是希望有一天，台灣的所有孩子，不論出身，皆能擁有優質的教育與自我發展機會。 終極目標希望能解決台灣「教育不平等」的問題，讓孩子的出身不再限制他的未來。 然而，師資的「質」與「量」是台灣教育不平等的關鍵，因此，我們希望從「師資」開始，長期改善「教育不平等」的現況。
  //-   .faq-group
  //-     .title-container
  //-       h3.q-title TFT是什麼樣的計畫？為何如此設計？
  //-     .content-container
  //-       p TFT 是一個兩年全職教學專案計畫，招募具使命感與領導潛力的青年成為老師， 投入有需求的偏鄉國小，提供老師們持續的培訓與支持，希望這些青年能成為台灣優質教育的推動者，共同發揮長期影響力。
