<!DOCTYPE html>
html(lang="en")
  head
    include partial/head
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.css", integrity="sha256-r2glH03VUY1R1G+7PwWdfL/NaTKpbInwaZFGiohbo4A=", crossorigin="anonymous")
    link(href="css/layout/index.css", rel="stylesheet")
  body
    include partial/header
    .block(style="height: 540px;background-color:rgba(0,0,0,.8)")
    #fullpage
      .section.section--normal
        .content
          .content__title
            span 在台灣，
            br
            span.strong 孩子的出身決定他們的未來。
          .content__content
            p 台灣正面臨嚴重的教育不平等，孩子的教育成就與他的社經條件高度相關。社經條件較弱勢的孩子，相較同齡環境較優勢的孩子，學習表現甚至落後七年之多。
        .img-container
          img(src="https://dummyimage.com/700x400/000/fff", alt="")
      //-
      .section.section--col-2
        .img-container
          img(src="https://dummyimage.com/1000x1000/000/fff", alt="")
        .content
          .content__title
            span 改善教育不平等，
            br
            span.strong 需要大量的領導人才投入
          .content__content
            p 要改善教育不平等，不能僅僅依靠少數人。這個社會需要更多具影響力的領導人才，為教育創造改變。
            p 一旦有一群深刻了解問題，並願意共同解決問題的領導者們——可以是老師、家長、校長、政治家、企業家、社區工作者——
            p 串聯他們的力量，從學校、家庭、社區、政策等不同的面向對教育發揮影響力，教育不平等的問題才能真正被解決。
      .section.section--bg-full
        .img-container
          img.bg(src="https://dummyimage.com/1920x1000/000/fff")
        .content
          .content__title
            span 成為領導者，
            br
            span.strong 從當一位好的老師開始
          .content__content
            p 為了培育更多能為改善教育不平等而貢獻的領導者，為台灣而教（Teach For Taiwan，簡稱 TFT ）建構一個模式，招募跨領域人才加入「為台灣而教計畫」，成為 TFT 教師，以教室裡的領導者身份，在第一線教育現場耕耘兩年，培養洞悉問題的視野與解決問題的能力。
            p 這些人才在完成計畫後，將成為各個領域的領導者——包括教育、政治、商業、經濟、社會等，共同為教育不平等的議題採取行動，讓孩子的出身不再限制他的未來。
            p 　
      //-
      .section.section--col-2
        .img-container
          img(src="https://dummyimage.com/1000x1000/000/fff", alt="")
        .content
          .content__title
            span.strong 看見改變持續發生
          .content__content
            p 要改變教育這麼龐大的問題不容易，但改變從來就不是0或1，而是從0到1漸進的過程。一路走來，TFT 不間斷地訪校、拓點，讓對的人投入到有需要的地方，也真實看見改變從孩子身上開始一點一滴的發生。
      //-
      .section.section--col-2.section--col-2--reverse
        .img-container
          img(src="https://dummyimage.com/1000x1000/000/fff", alt="")
        .content
          .content__title
            span.strong 影響力
          .content__blocks.blocks
            .blocks__block
              .value 4
              .desc 縣市
            .blocks__block
              .value 38
              .desc 鄉鎮
            .blocks__block
              .value 43
              .desc 合作小學
            .blocks__block
              .value 93
              .desc TFT教師
            .blocks__block
              .value 2800
              .desc 偏鄉學童
      //-
      .section.section--wide
        .content
          .content__title
            span.strong 教育，
            br
            span.strong 可以因為你的參與
            br
            span.strong 而變得不一樣
          .content__content
            p 為台灣而教，不只是一個組織、一句口號，更是一個對台灣教育共同的使命。
            p 在這個使命裡，如果沒有老師、督導、志工們身體力行的參與，沒有捐款人、學校、企業強而有力的支持，所有的改變，或許都不會發生。
            p 改變不是一個人付出很多，而是每個人努力一點點。
        .img-container
          img(src="https://dummyimage.com/800x500/000/fff", alt="")
      //-
      .section.section--cards
        .content
          .content__content
            p
              span 邀請你，用任何最喜歡，最願意的方式加入我們，
              br
              span.strong 讓台灣的教育因為有你而發生而好的可能。
        .cards
          a(href="#", title="title")
            .cards__card
              .cards__card__icon
                img(src="https://dummyimage.com/100x100/000/fff", alt="")
              .cards__card__title 捐款支持
          a(href="#", title="title")
            .cards__card
              .cards__card__icon
                img(src="https://dummyimage.com/100x100/000/fff", alt="")
              .cards__card__title 成為教師
          a(href="#", title="title")
            .cards__card
              .cards__card__icon
                img(src="https://dummyimage.com/100x100/000/fff", alt="")
              .cards__card__title 成為志工
          a(href="#", title="title")
            .cards__card
              .cards__card__icon
                img(src="https://dummyimage.com/100x100/000/fff", alt="")
              .cards__card__title 成為合作學校

    include partial/footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.js", integrity="sha256-r80qU2FgO31x7HtK2BQxYOQxPb45x+eKKhzA0OrepyM=", crossorigin="anonymous")
    script(src="js/index.js")
