<!DOCTYPE html>
html(lang="en")
  head
    include partial/head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/flexibility/2.0.1/flexibility.js", integrity="sha256-ETXu4iIohKzvSucuk6Bv0DCdqiqaTTGeMsjZ72szPzM=", crossorigin="anonymous")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.css", integrity="sha256-r2glH03VUY1R1G+7PwWdfL/NaTKpbInwaZFGiohbo4A=", crossorigin="anonymous")
    link(href="css/layout/index.css", rel="stylesheet")
  body
    include partial/header
    .slider(style="height: 540px;background-color:rgba(0,0,0,.8)")
    include partial/index-fullpage
    include partial/footer
    script(src="js/index.js")
