<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title FAQ
    link(href="css/main.css", rel="stylesheet")
  body
    include partial/header
    include partial/scrollspy
    main(style="min-height:500vh")
    include partial/footer
    script(src="js/scrollspy.js")

