footer.footer
  .footer__row
    .footer__block.f-2
      .footer__content.img-container
        img.image(src="http://beta.teach4taiwan.org/wp-content/uploads/2017/10/logo-white.png", alt="Logo")
    .footer__block.f-3
      .block__title 了解更多
      ul.footer__content
        li.item.basis-50
          a(href="/?cat=21") 最新消息
        li.item.basis-50
          a(href="/?page_id=278") 常見問題
        li.item.basis-50
          a(href="/?page_id=194") 申請 TFT 計畫
        li.item.basis-50
          a(href="/?page_id=152") 訂閱電子報
        li.item.basis-50
          a(href="http://www.teach4taiwan.org/category/story") TFT故事棧
        li.item.basis-50
          a(href="/?page_id=118#annual-report") 年度報告
    .footer__block.f-3
      .block__title 聯絡我們
      ul.footer__content
        li.item.basis-100
          a(href="mailto:tft@teach4taiwan.org") tft@teach4taiwan.org
        li.item.basis-100
          a(href="tel:+886223456225") 02-2345-6225
        li.item.basis-100
          a(href="https://goo.gl/GQenv2", target="_blank", rel="noopener") 110台北市信義區忠孝東路四段512號11樓之四
  .footer__row
    .footer__block.f-3
      .footer__content
        .copyright.basis-100 Copyright © 2017. All Rights Reserved. | 財團法人為台灣而教教育基金會
    .footer__block.f-1
      ul.footer__content.social-list
        li.item.f-1
          a(href="https://www.instagram.com/teach4taiwan/", target="_blank", rel="noopener")
            i.fa.fa-instagram
        li.item.f-1
          a(href="https://www.facebook.com/teach4taiwan", target="_blank", rel="noopener")
            i.fa.fa-facebook
        li.item.f-1
          a(href="https://www.youtube.com/channel/UCfreYo1mnqLN4Iz66nno1oA/", target="_blank", rel="noopener")
            i.fa.fa-youtube-play
