header#header.header
  .header-container
    nav.nav-desktop
      ul.menu-secondary--desktop
        li.item
          a.link(href="?cat=21") 最新消息
        li.item
          a.link(href="?page_id=278") 常見問題集
        li.item
          a.link(href="?page_id=152") 訂閱電子報
        li.item
          a.link(href="javascript:;") 教師故事棧
        li.item
          a.link(href="?page_id=118#annual-report") 年度報告
        li.item.item--funcs
          button.btn.btn-search.btn--transparent
            i.fa.fa-search
          .search-box
            form#search.search(role="search", method="get", action="//beta.teach4taiwan.org/")
              label(for="s")
                input#input-search.input-search(name="s", type="search", placeholder="搜尋更多", )
    .logo-container
      a.link(href="/")
        img.logo(src="http://beta.teach4taiwan.org/wp-content/uploads/2017/07/logo_350px.png", alt="logo")
    button#btn-menu.btn.btn-menu
      span.line
      span.line
      span.line
    nav#nav-menu.nav
      ul#menu-primary.menu-primary
        li.item.item--logo
          a.link(href="#")
            img.logo(src="http://beta.teach4taiwan.org/wp-content/uploads/2017/07/logo-long400px.png", alt="logo")
        li.item
          a.link(href="?page_id=111") 要解決的問題
        li.item
          a.link.has-sub(href="?page_id=118") 關於我們
          ul.sub-menu
            li.item
              a.link(href="?page_id=118#our-story") 我們的故事
            li.item
              a.link(href="?page_id=118#our-vision") 願景與核心價值
            li.item
              a.link(href="?page_id=118#our-team") 我們的團隊
            li.item
              a.link(href="?page_id=118#media-reports") 媒體報導
            li.item
              a.link(href="?page_id=118#annual-report") 年度報告
        li.item
          a.link.has-sub(href="?page_id=120") 計畫內容
          ul.sub-menu
            li.item
              a.link(href="?page_id=120") 計畫概要
            li.item
              a.link(href="?page_id=120") 招募與甄選
            li.item
              a.link(href="?page_id=120") 教師配對
            li.item
              a.link(href="?page_id=120") 培訓與支持
            li.item
              a.link(href="?page_id=120") 校友計畫
        li.item
          a.link.has-sub(href="?page_id=122") 我們的影響力
          ul.sub-menu
            li.item
              a.link(href="?page_id=122") 對孩子的影響
            li.item
              a.link(href="?page_id=122") 對學校的影響
            li.item
              a.link(href="?page_id=122") 對社區的影響
            li.item
              a.link(href="?page_id=122") 對社會的影響
        li.item
          a.link.has-sub(href="javascript:;") 加入我們
          ul.sub-menu
            li.item
              a.link(href="?page_id=194") 成為教師
            li.item
              a.link(href="https://web.npois.com.tw/npopay/tft/periodic.asp", target="_blank", rel="noopener") 成為捐款者
            li.item
              a.link(href="?page_id=281") 成為志工與實習生
            li.item
              a.link(href="?page_id=576") 成為教育志工
            li.item
              a.link(href="?page_id=564") 成為執行團隊
            li.item
              a.link(href="?page_id=539") 成為合作學校
        li.item.item--btn
          a.link(href="?page_id=148", target="_blank", rel="noopener")
            button.btn.btn--donate.btn--red 捐款
        li.item.item--btn
          a.link(href="?page_id=194", target="_blank", rel="noopener")
            button.btn.btn--teacher.btn--red 成為教師

      ul.menu-funcs
        li.item
          a.link(href="https://web.npois.com.tw/npopay/tft/periodic.asp", target="_blank", rel="noopener")
            button.btn.btn--donate.btn--red 捐款
        li.item
          a.link(href="?page_id=194", target="_blank", rel="noopener")
            button.btn.btn--teacher.btn--red 成為教師
      ul.menu-secondary
        li.item
          a.link(href="?cat=21") 最新消息
        li.item
          a.link(href="?page_id=278") 常見問題集
        li.item
          a.link(href="?page_id=278") 年度報告
        li.item.item--funcs
          button.btn.btn-search.btn--transparent
            i.fa.fa-search
          .search-box
            form#search.search(role="search", method="get", action="//beta.teach4taiwan.org/")
              label(for="s")
                input#input-search.input-search(name="s", type="search", placeholder="搜尋更多", )
  #menu-mask.mask
script(src="js/header.js")
