header#header.header
  .header-container
    nav.nav-desktop
      ul.menu-secondary--desktop
        li.item
          a.link(href="?cat=21") 最新消息
        li.item
          a.link(href="?page_id=278") 常見問題集
        li.item
          a.link(href="?page_id=152") 訂閱電子報
        li.item
          a.link(href="https://teach4taiwan.wordpress.com/", target="_blank", rel="noopener") 教師故事棧
        li.item
          a.link(href="?page_id=118#annual-report") 年度報告
        li.item.item--funcs
          button.btn.btn-search.btn--transparent
            i.fa.fa-search
          .search-box
            form#search.search(role="search", method="get", action="//beta.teach4taiwan.org/")
              label(for="s")
                input#input-search.input-search(name="s", type="search", placeholder="搜尋更多", )
    .logo-container
      a.link(href="/")
        img.logo(src="http://beta.teach4taiwan.org/wp-content/uploads/2017/07/logo_350px.png", alt="logo")
    button#btn-menu.btn.btn-menu
      span.line
      span.line
      span.line
    nav#nav-menu.nav
      ul#menu-primary.menu-primary
        li.item.item--logo
          a.link(href="/")
            img.logo(src="http://beta.teach4taiwan.org/wp-content/uploads/2017/07/logo-long400px.png", alt="logo")
        li.item
          a.link.has-sub(href="?page_id=118") 關於我們
        li.item
          a.link(href="?page_id=111") 我們要解決的問題
        li.item
          a.link.has-sub(href="?page_id=120") 我們怎麼做
        li.item
          a.link.has-sub(href="?page_id=122") 我們的影響力
        li.item
          a.link.has-sub(href="javascript:;") 加入我們
          ul.sub-menu
            li.item
              a.link(href="?page_id=194") 申請TFT計畫
            li.item
              a.link(href="?page_id=564") 成為執行團隊
            li.item
              a.link(href="?page_id=281") 成為志工與實習生
            li.item
              a.link(href="?page_id=2449") 成為協力夥伴
            li.item
              a.link(href="?page_id=576") 成為教育志工
            li.item
              a.link(href="?page_id=539") 成為合作學校
      ul.menu-funcs
        li.item
          a.link(href="https://web.npois.com.tw/npopay/tft/periodic.asp", target="_blank", rel="noopener")
            button.btn.btn--recruit.btn--red 支持我們
        li.item
          a.link(href="?page_id=194")
            button.btn.btn--teacher.btn--red 申請TFT計畫
      ul.menu-secondary
        li.item
          a.link(href="?cat=21") 最新消息
        li.item
          a.link(href="?page_id=278") 常見問題集
        li.item
          a.link(href="?page_id=152") 訂閱電子報
        li.item
          a.link(href="https://teach4taiwan.wordpress.com/", taget="_blank", rel="noopener") 教師故事棧
        li.item
          a.link(href="?page_id=118#annual-report") 年度報告
        li.item.item--funcs
          button.btn.btn-search.btn--transparent
            i.fa.fa-search
          .search-box
            form#search.search(role="search", method="get", action="/")
              label(for="s")
                input#input-search.input-search(name="s", type="search", placeholder="搜尋更多", )
  #menu-mask.mask
script(src="js/header.js")
