h1.title 組織架構

.org-container
  .org-row
    .org-block
      .block-title(style="background-color: #B7B7B7;") 董事會
  .org-row
    .org-block
      .block-title(style="background-color: #CECECE;") 執行長
  .org-row
    .org-block.row-block-left
      .block-title(style="background-color: #DDDDDD;") 營運管理部
      .org-part
        .item.item--4
          .block-title
            span 人資
            br
            span 行政組
        .item.item--4
          .block-title
            span 對外
            br
            span 關係組
        .item.item--4
          .block-title
            span 行銷
            br
            span 企劃組
        .item.item--4
          .block-title.oneline
            span 財務組
    .org-block.row-block-right
      .block-title(style="background-color: #DDDDDD;") 教學發展部
      .org-part
        .item.item--5
          .block-title
            span 招募
            br
            span 甄選組
        .item.item--5
          .block-title
            span 訪校
            br
            span 配對組
        .item.item--5
          .block-title
            span 培訓
            br
            span 支持組
        .item.item--5
          .block-title
            span 校友
            br
            span 發展組
        .item.item--5
          .block-title
            span 研究
            br
            span 追蹤組
