script
  include ../../js/data/core-team.js
  include ../../js/data/board-of-directors.js
.tab-wrap
  input#tab1.tab(type="radio", name="tabGroup1", checked)
  label(for="tab1") 執行團隊
  input#tab2.tab(type="radio", name="tabGroup1")
  label(for="tab2") 董事
  input#tab3.tab(type="radio", name="tabGroup1")
  label(for="tab3") 老師
  input#tab4.tab(type="radio", name="tabGroup1")
  label(for="tab4") 顧問
  input#tab5.tab(type="radio", name="tabGroup1")
  label(for="tab5") 協力夥伴
  .tab__content
    //- 執行團隊
    .swiper-container
      .swiper-wrapper#core-team
        //- - for(let i = 0; i < 10; i++)
        //-   .swiper-slide
        //-     a(href="#l-team-1", data-lity)
        //-       figure.item-set
        //-         figcaption.title-container
        //-           .title 執行長
        //-           .name 劉安婷
        //-         .img-container
        //-           img.img(src="https://dummyimage.com/150x150/000/fff", alt="")
        //-     #l-team-1.content-container.lity-hide
        //-       .img-container.full
        //-         img(src="https://dummyimage.com/600x400/000/fff", alt="")
        //-       .text-container
        //-         h3.title 標題
        //-         p.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, cumque.
        //-         p.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, cumque.
        //-         p.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, cumque.
        //-         p.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem animi unde neque maiores, consequuntur doloribus cumque sunt sint ipsam ducimus!
      .swiper-pagination
  .tab__content
    //- 董事
    .swiper-container
      .swiper-wrapper#board
        //- - for(let i = 0; i < 10; i++)
        //-   .swiper-slide
        //-     a(href="#l-board-1", data-lity)
        //-       figure.item-set
        //-         figcaption.title-container
        //-           .title 董事
        //-           .name 董事A
        //-         .img-container
        //-           img.img(src="https://dummyimage.com/150x150/000/fff", alt="")
        //-     #l-board-1.content-container.lity-hide
        //-       .img-container.full
        //-         img(src="https://dummyimage.com/600x400/000/fff", alt="")
        //-       .text-container
        //-         h3.title 標題
        //-         p.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, cumque.
        //-         p.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, cumque.
        //-         p.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, cumque.
        //-         p.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem animi unde neque maiores, consequuntur doloribus cumque sunt sint ipsam ducimus!
      .swiper-pagination
  .tab__content
    //- 老師
    h3 C
    p Lorem ipsum dolor sit amet.
  .tab__content
    //- 顧問
    h3 D
    p Lorem ipsum dolor sit amet.
  .tab__content
    //- 協力夥伴
    .swiper-container
      .swiper-wrapper
        - for(let i = 0; i < 10; i++)
          .swiper-slide
            figure.item-set
              figcaption.title-container
                .title 協力夥伴
                .name 夥伴
              .img-container.square
                img.img(src="https://dummyimage.com/150x100/000/fff", alt="")
      .swiper-pagination
script(src="js/tab-data-trans.js")
script.
  const configMobile = {
    pagination: '.swiper-pagination',
    slidesPerView: 1,
    slidesPerColumn: 2,
    paginationClickable: true,
    spaceBetween: 30,
    grabCursor: true
  };
  const configTablet = {
    pagination: '.swiper-pagination',
    slidesPerView: 3,
    slidesPerColumn: 2,
    paginationClickable: true,
    spaceBetween: 30,
    grabCursor: true
  };
  const configDesktop = {
    pagination: '.swiper-pagination',
    slidesPerView: 4,
    slidesPerColumn: 2,
    slidesPerGroup: 4,
    paginationClickable: true,
    spaceBetween: 30,
    grabCursor: true
  };
  const getSwiperConfig = (ww) => {
    if(ww < 600){
      return configMobile;
    }
    if(ww < 900){
      return configTablet;
    }
    if(ww >= 900){
      return configDesktop;
    }
  };
  const swiper = new Swiper('.swiper-container', getSwiperConfig(window.innerWidth));
