.tab-wrap.tab-style--plan
  input#tab1.tab(type="radio", name="tabGroup1", checked)
  label(for="tab1")
    | 計畫
    br
    | 概要
  input#tab2.tab(type="radio", name="tabGroup1")
  label(for="tab2")
    | 招募
    br
    | 與
    br
    | 甄選
  input#tab3.tab(type="radio", name="tabGroup1")
  label(for="tab3")
    | 教師
    br
    | 配對
  input#tab4.tab(type="radio", name="tabGroup1")
  label(for="tab4")
    | 培訓
    br
    | 與
    br
    | 支持
  input#tab5.tab(type="radio", name="tabGroup1")
  label(for="tab5")
    | 校友
    br
    | 計畫
  .tab__content
    h3 計畫概要
    p Teach For Taiwan是兩年全職教學專案計畫，招募富使命感與領導潛力的青年，投入有師資需求的偏鄉國小，並在兩年期間提供專業的培訓與支持系統，使其成為台灣優質教育的推動者，共同發揮長期影響力。
  .tab__content
    h3 招募與甄選
    p Lorem ipsum dolor sit amet.
  .tab__content
    h3 教師配對
    p Lorem ipsum dolor sit amet.
  .tab__content
    h3 招訓與支持
    p Lorem ipsum dolor sit amet.
  .tab__content
    h3 校友計畫
    p Lorem ipsum dolor sit amet.
