script(src="https://cdn.rawgit.com/wilddeer/stickyfill/master/dist/stickyfill.min.js")
.tab-control
  .tab-button(data-for="tab-1") 招募甄選
  .tab-button(data-for="tab-2") 教師配對
  .tab-button(data-for="tab-3") 培訓與支持
  .tab-button(data-for="tab-4") 校友發展

.tab-control.tab-control--aside
  .tab-button(data-for="tab-1") 招募甄選
  .tab-button(data-for="tab-2") 教師配對
  .tab-button(data-for="tab-3") 培訓與支持
  .tab-button(data-for="tab-4") 校友發展

//- 結構:
  .tab-control
    .tab-button(data-for="tab-1")
    .tab-button(data-for="tab-2")

  .tab-content.tab-1
    span Lorem, ipsum dolor.
  .tab-content.tab-2
    span Lorem, ipsum dolor.
