.scrollspy-container {
  position: fixed;
  right: 4em;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}

.scrollspy {
  $increse-height: 2em;
  $lighten-primary: lighten($c-primary, 12%);
  position: relative;
  color: $lighten-primary;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out;
  margin-left: 0;
  &.is-show {
    @include for-tablet-landscape-up {
      opacity: 1;
      visibility: visible;
    }
  }
  >.item {
    position: relative;
    padding: .5em;
    padding-left: 1.4em;
    transition: .3s ease-in-out;
    line-height: 1.25;
    list-style: none;
    white-space: nowrap;
    color: $c-grey;
    opacity: .7;
    a {
      display: block;
    }
    &:before {
      content: '';
      background-color: transparent;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 2px solid $c-grey;
      position: absolute;
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
      transform-origin: top;
      transition: .1s ease-in-out;
    }
    &:first-of-type:after {
      display: none;
    }
    &.is-active,
    &:hover {
      color: $c-primary;
      font-weight: bold;
      opacity: 1;
      &:before {
        transform: scale(1.3) translateY(-50%);
        background-color: $c-primary;
        border: 1px solid $c-primary;
      }
      &:after {
        background-color: $c-primary;
      }
    }
    .link {
      display: block;
      max-width: 3em;
      transition: 0s;
    }
  }
}
