.sec-slogan {
    max-width: 1024px;
    padding: 50px 2rem!important;
    margin: 0 auto!important;
    @include for-tablet-landscape-up {
        padding: 100px 0!important;
    }
}

.sec-block {
    padding: 50px 2rem!important;
}

.sec-hero {}
