// 我們怎麼做 TAB styles
@import '../variable';
@import '../mixin/breakpoint';
.tab-control {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 70px 0 40px;
  max-width: 900px;
  @include for-tablet-landscape-up {
    margin: 40px auto;
  }
  .tab-button {
    cursor: pointer;
    border-bottom: 2px solid transparent;
    display: flex;
    flex-direction: column;
    font-size: .8em;
    flex: 1;
    padding: 1.2em .4em;
    text-align: center;
    transition: .5s ease-in-out;
    @include for-tablet-landscape-up {
      padding: 1.2em 2em;
      font-size: 1em;
    }
    &:hover,
    &.is-active {
      color: $c-primary;
      border-bottom: 2px solid $c-primary;
    }
  }
}

.tab-control--aside {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  flex-direction: column;
  right: 0;
  top: 50%;
  margin: 1em;
  color: $c-grey;
  background: $c-base;
  transform: translateY(-50%);
  transition: .3s ease-in-out;
  z-index: 999;
  &.is-active {
    visibility: visible;
    opacity: 1;
  }
  .tab-button {
    cursor: pointer;
    padding: 1em 1.5em;
    &:hover,
    &.is-active {
      color: $c-primary;
    }
  }
}

.tab-content-container {}

.tab-content {
  display: none!important;
  &.is-active {
    display: block!important;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}
