@import '../../sass/variable';
@import '../../sass/mixin/breakpoint';
.sponser {
  h2 {
    text-align: center;
    font-size: 1em;
    padding: 1em 0;
  }
  .content-placeholder {
    margin: 0 auto;
    margin-top: 3em;
    max-width: 1600px;
  }
  .red1 {
    color: $c-red;
    padding: 0 1.2em;
  }
  .partner-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  figure {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid transparent;
    width: 50%;
    margin: 1em auto;
    padding: 0 .5em;
    transition: .1s ease-in-out;
    &:hover {
      .partner-img {
        opacity: .7;
      }
    }
    @include for-tablet-portrait-up {
      width: 33%;
    }
    @include for-tablet-landscape-up {
      width: 25%;
    }
    .partner-img {
      img {
        object-fit: contain;
        max-height: 60px;
        max-width: 140px;
      }
      +.partner-name {
        display: none;
      }
    }
    .partner-name {
      text-align: justify;
      font-weight: bold;
      font-size: .85em;
      margin-top: .5em;
      padding: .1em .3em;
      border: 1px solid rgba(0, 0, 0, .1);
      line-height: 1.6;
    }
  }
  .intro {
    visibility: hidden;
    background: $c-base;
    border: 2px solid $c-grey--light-2;
    border-radius: 3px;
    left: 0;
    right: 0;
    bottom: 5px;
    padding: 30px 20px;
    margin: 0 20px;
    opacity: 0;
    position: fixed;
    width: calc(100vw - 40px);
    height: auto;
    max-height: 50vh;
    overflow: auto;
    z-index: 9;
    transition: 1.5s ease-in-out;
  }
  .intro-show {
    .intro {
      visibility: visible;
      opacity: 1;
      transition: .3s ease-in-out;
    }
  }
}
