/* module/button */

.btn {
  border: 1px solid;
  border-color: inherit;
  border-radius: 90px;
  background-color: $c-base;
  color: $c-grey;
  text-shadow: none;
  box-shadow: none;
  border-radius: 15px;
  transition: .1s ease-in-out;
  &:hover {
    box-shadow: none;
    border-color: inherit;
  }
  &--round {
    border-radius: 50%;
  }
  &--square {
    border-radius: 0;
  }
  &--no-border {
    border-color: transparent;
    &:hover {
      border-color: transparent;
    }
  }
  $colorList: ( 'red': $c-red, 'yellow': $c-yellow, 'green': $c-green);
  @each $key,
  $value in $colorList {
    &--#{$key} {
      color: $value;
      &:hover {
        background-color: $value;
        color: $c-base;
      }
    }
  }
}
