/* module/button */

.btn {
    border: none;
    background-color: $c-base;
    color: $c-grey;
    text-shadow: none;
    box-shadow: none;
    border-radius: 15px;
    transition: .1s ease-in-out;
    &:hover {
        border: none;
        box-shadow: none;
    }
    &.btn--round {
        border-radius: 50%;
    }
    &.btn--red {
        background-color: $c-red;
        color: $c-base;
        &:hover {
            background-color: lighten($c-blue, 10%);
        }
    }
    &.btn--blue {
        background-color: $c-blue;
        color: $c-base;
        &:hover {
            background-color: lighten($c-blue, 10%);
        }
    }
}
