/* module/footer */

#footer-separator {
    background: transparent!important;
}

#site-copyright {
    float: none;
    text-align: center;
}

// POWERED BY SEPTERA & WORDPRESS.
#site-copyright+div {
    display: none!important;
}
