/* module/footer */

// deafult modules
.site-footer {
    display: none;
}

.footer {
    &__block {
        padding: 4rem 2rem;
        background-color: $c-grey;
        color: $c-base;
    }
    .social-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        @include for-tablet-portrait-up {
            flex-direction: row;
        }
        .list-item {
            margin: 15px;
            .btn {
                font-size: 16px;
                min-height: 2.5rem;
                min-width: 4rem;
                padding: .8em 1em;
                letter-spacing: 1.44px;
                &--round {
                    height: 4rem;
                    width: 4rem;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
    .contact-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        @include for-tablet-portrait-up {
            justify-content: center;
        }
        .list-item {
            padding: 0;
            font-size: .8em;
            @include for-tablet-portrait-up {
                padding: 0 0.5em;
            }
        }
    }
    .address-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include for-tablet-portrait-up {
            justify-content: center;
        }
        .list-item {
            font-size: .8em;
        }
    }
    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $c-base;
        color: $c-grey;
        min-height: 50px;
        font-size: .8em;
        padding: 0 2rem;
    }
}
