/* module/footer */

#footer-separator {
    background: transparent!important;
}

#site-copyright {
    float: none;
    text-align: center;
}

// POWERED BY SEPTERA & WORDPRESS.
#site-copyright+div {
    display: none!important;
}

#footer-inside {
    padding-top: 0!important;
}

#colophon {
    .panel-row-style {
        flex-direction: row!important;
        padding: 0!important;
        @include for-tablet-landscape-up {
            padding: 0 20%!important;
        }
        .panel-grid-cell {
            margin: 0!important;
        }
    }
}
