/* module/header */

#masthead {
    display: none;
}

.header {
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 999;
    background: $c-base;
    box-shadow: 2px 2px 2px $c-grey--light;
    visibility: hidden;
    opacity: 0;
    transition: max-height .7s ease-in-out, opacity .3s ease-in-out;
    &.is-active {
        visibility: visible;
        opacity: 1;
    }
    &.is-open {
        max-height: 1000px;
        .menu {
            .list {
                max-height: 1000px;
                @include for-tablet-landscape-up {
                    max-height: none;
                }
                .item {}
            }
        }
    }
    .menu {
        .m-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .5em;
            >.link {
                flex: 1;
                max-width: 300px;
                &:hover {
                    opacity: .7;
                }
            }
            .m-btn-menu {
                background: $c-base;
                color: $c-grey;
                cursor: pointer;
                &:hover {
                    opacity: .7;
                }
            }
            @include for-tablet-landscape-up {
                display: none;
            }
        }
        .list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            transition: max-height .7s ease-in-out;
            max-height: 0;
            @include for-tablet-landscape-up {
                max-height: none;
                flex-direction: row;
                justify-content: flex-end;
            }
            .item {
                font-size: 14px;
                font-weight: bold;
                background: $c-base;
                color: $c-blue;
                width: 100%;
                text-align: center;
                @include for-tablet-landscape-up {
                    width: auto;
                }
                &.item-logo {
                    flex: 1;
                    text-align: left;
                    display: none;
                    .link {
                        &:hover {
                            opacity: .7;
                        }
                    }
                    .logo {
                        max-width: 300px;
                        @include for-tablet-landscape-up {
                            width: 300px;
                        }
                    }
                    &:hover {
                        background: $c-base;
                    }
                    @include for-tablet-landscape-up {
                        display: block;
                    }
                }
                &:hover,
                &:focus {
                    color: $c-base;
                    background: $c-blue;
                    .sub-list {
                        visibility: visible;
                        opacity: 1;
                        max-height: 200px;
                    }
                }
            }
            .link {
                display: block;
                padding: 1em;
                transition: .3s ease-in-out;
                &:hover {
                    color: $c-base;
                }
            }
        }
        .sub-list {
            list-style: none;
            max-height: 0;
            left: auto;
            margin-left: 0;
            box-shadow: 2px 2px 2px $c-grey--light;
            width: 100%;
            transition: max-height .7s ease-in-out;
            .item {
                &:hover {
                    background: darken($c-blue, 20%);
                }
            }
            @include for-tablet-landscape-up {
                position: absolute;
                width: auto;
                visibility: hidden;
                opacity: 0;
                transition: .3s ease-in-out;
            }
        }
    }
}
