/* module/header */

// body mt for menu fixed
body {
  &.has-fixed-top {
    margin-top: 67px;
    @include for-tablet-landscape-up {
      margin-top: 45px;
    }
  }
}

// hide default modules
#masthead {
  display: none;
}

.nav-primary {
  display: none;
}

.logo {
  object-fit: contain;
  width: 280px;
  max-width: 80%;
  min-height: 35px;
  @include for-phone-only {
    padding: 5px 10px;
  }
}

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: .7s ease-in-out;
  pointer-events: none;
  &.is-active {
    background-color: rgba($c-grey--dark, .7);
  }
  @include for-tablet-landscape-up {
    display: none;
  }
}

.header {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  transition: .7s ease-in-out;
  &.is-fixed {
    position: fixed;
    opacity: 1;
  }
  .nav {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: $c-grey--light-2;
    transition: .7s ease-in-out;
    overflow: auto;
    max-height: calc(100vh - 71px);
    padding-bottom: 20px;
    font-size: 16px;
    flex-direction: column;
    background-color: $c-base;
    justify-content: center;
    @include for-tablet-landscape-up {
      display: flex;
      position: relative;
      overflow: visible;
      z-index: 999;
      padding-bottom: 0;
      flex-direction: row;
    }
    &.is-active {
      transform: translateY(100%);
    }
    &.is-fixed {
      transform: none;
      .menu-funcs {
        display: none;
      }
    }
    &--base {
      position: relative;
      padding-bottom: 0;
      z-index: 9999;
      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: $c-grey--light-2;
        position: absolute;
        bottom: 0;
        max-width: 1200px;
        left: 50%;
        transform: translateX(-50%);
      }
      @include for-tablet-landscape-up {
        padding: 30px 0;
      }
      @for $i from 1 through 5 {
        &.f-#{$i} {
          flex: $i;
        }
      }
    }
    &--menu {
      background-color: $c-grey--light-2;
    }
    &__list {
      flex: 1;
      @include for-tablet-landscape-up {
        display: flex;
        flex-direction: row;
      }
      .item {
        .link {
          &:hover {
            color: $c-primary;
          }
        }
      }
    }
    .funcs-container {
      justify-content: center;
      align-items: center;
      font-size: 14px;
      white-space: nowrap;
      .item {
        margin: 0 10px;
        letter-spacing: 1.2px;
        &:hover:not(.item--logo) {
          color: $c-primary;
        }
        .btn {
          font-size: 14px;
          padding: 10px 24px;
          letter-spacing: 1.2px;
        }
      }
      .search-box {
        .label {
          position: relative;
          .input-search {
            border-radius: 100px;
            max-width: 130px;
            margin: 10px auto;
            font-size: 14px;
            letter-spacing: 1.2px;
            @include for-tablet-landscape-up {
              margin: 0;
            }
          }
          .btn {
            position: absolute;
            right: 0;
            background: transparent;
          }
        }
      }
    }
    .menu-funcs {
      @include for-tablet-landscape-up {
        display: flex;
        flex-direction: column;
        background-color: $c-base;
      }
      .link {
        color: $c-primary;
        padding: .8em 2em;
        display: block;
        background-color: $c-base;
      }
    }
    .for-mobile {
      @include for-tablet-landscape-up {
        display: none;
      }
    }
    .for-desktop {
      display: none;
      @include for-tablet-landscape-up {
        display: inherit;
      }
    }
  }
  .logo-container {
    z-index: 999;
    background: $c-base;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include for-tablet-landscape-up {
      justify-content: center;
    }
    .link {
      padding-top: 10px;
      @include for-tablet-portrait-up {
        text-align: center;
      }
    }
  }
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $c-base;
    position: relative;
    z-index: 2;
  }
  .btn-menu {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    margin: 0 15px;
    z-index: 999;
    border-radius: 0;
    @include for-tablet-landscape-up {
      display: none;
    }
  }
  .menu-primary {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $c-base;
    @include for-tablet-landscape-up {
      display: flex;
      flex-direction: row;
    }
    .item {
      width: 100%;
      text-align: left;
      position: relative;
      &:hover:not(.item--logo),
      &:focus:not(.item--logo) {
        .sub-menu {
          max-height: 1000px;
          visibility: visible;
          opacity: 1;
        }
      }
      @include for-tablet-landscape-up {
        width: auto;
        text-align: center;
      }
      .link {
        display: block;
        padding: .8em 2em;
        @include for-tablet-landscape-up {
          padding: .5em 2em;
        }
      }
      &--logo {
        visibility: hidden;
        opacity: 0;
        width: 0;
        height: 0;
        transition: .3s ease-in-out, width 0;
        .link {
          padding: 0;
          .logo {
            display: inherit;
            height: 40px;
            margin-left: 15px;
          }
        }
      }
      &--btn {
        visibility: hidden;
        opacity: 0;
        width: 0;
        height: 0;
        transition: .3s ease-in-out, width 0;
        .btn {
          &:hover {
            background-color: inherit;
          }
        }
      }
    }
    >.item {
      >.link {
        padding: 1.2em 2em;
      }
    }
    .sub-menu {
      margin: 0;
      max-height: 0;
      background-color: rgba(#FFF, .9);
      color: $c-base;
      transition: .3s ease-in-out;
      width: 100%;
      overflow: hidden;
      min-width: 100%;
      @include for-tablet-landscape-up {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 0;
        white-space: nowrap;
        width: auto;
      }
      .item {
        background: rgba(#FFF, .9);
        color: $c-grey--dark;
        text-align: left;
        &:hover {
          color: $c-primary;
        }
        &--special {
          position: relative;
          font-weight: bold;
        }
      }
    }
    &.is-fixed {
      position: fixed;
      width: 100%;
      z-index: 9999;
      top: 0;
      box-shadow: 1px 1px 3px rgba($c-grey, .5);
      .link {
        padding: .5em 1em;
      }
      .item {
        &--logo {
          @include for-tablet-landscape-up {
            visibility: visible;
            opacity: 1;
            width: auto;
            height: auto;
            flex: 1;
          }
          .link {
            @include for-tablet-landscape-up {
              padding: 0;
            }
          }
        }
        &--btn {
          @include for-tablet-landscape-up {
            visibility: visible;
            opacity: 1;
            width: auto;
            height: auto;
          }
          .btn {
            @include for-tablet-landscape-up {
              padding: 8px 20px;
            }
          }
        }
      }
      .sub-menu {
        left: auto;
        right: 0;
        .item {
          text-align: left;
        }
      }
    }
  }
  .menu-funcs {
    transition: .3s ease-in-out;
    @include for-tablet-landscape-up {
      display: none;
      flex-direction: row;
      position: absolute;
      top: -100%;
      right: 1em;
      background-color: transparent;
    }
    @include for-desktop-up {
      top: 0;
    }
    .item {
      width: 100%;
      margin: 0;
    }
    .btn {
      width: 100%;
      border-radius: 0;
      border: 1px solid $c-base;
      font-size: 1em;
      text-align: left;
      padding: .8em 2em;
      line-height: inherit;
      @include for-tablet-landscape-up {
        font-size: .8em;
        padding: .8em 1.4em;
        letter-spacing: 1.6px;
        line-height: 1;
        border-radius: 15px;
        margin: 0 .5em;
        text-align: center;
        padding: .8em 0;
      }
      &--donate {
        @include for-tablet-landscape-up {
          width: 8em;
        }
      }
      &--teacher {
        @include for-tablet-landscape-up {
          width: 8em;
        }
      }
      &--red {
        background-color: inherit;
        color: $c-red;
        &:hover {
          background: $c-red;
          color: $c-base;
        }
        @include for-tablet-landscape-up {
          background-color: $c-red;
          color: $c-base;
          &:hover {
            opacity: .7;
          }
        }
      }
      &--green {
        background-color: inherit;
        color: $c-green;
        &:hover {
          background: $c-green;
          color: $c-base;
        }
        @include for-tablet-landscape-up {
          background-color: $c-green;
          color: $c-base;
          &:hover {
            opacity: .7;
          }
        }
      }
    }
  }
  .menu-secondary {
    @include for-tablet-landscape-up {
      display: none;
    }
    .item {
      text-align: center;
      width: 100%;
      text-align: left;
      @include for-tablet-landscape-up {
        width: auto;
      }
      .link {
        display: block;
        padding: .8em 2em;
        @include for-tablet-landscape-up {
          padding: .5em 1em;
        }
      } // search
      &--funcs {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        padding-bottom: 5px;
      }
    }
    &.is-active {
      transform: translateX(0);
    }
    .search-box {
      // search-box in mobile menu
      flex: 1;
      overflow: hidden;
      padding: 10px 30px;
      .label {
        position: relative;
      }
      .input-search {
        width: 100%;
        border-radius: 90px;
        box-sizing: border-box;
        letter-spacing: 1.2px;
        padding-left: 14px;
        padding-right: 50px;
        font-size: 14px;
      }
      .btn-search {
        position: absolute;
        font-size: 20px;
        top: 0;
        right: 0;
        padding: 0 15px;
        background-color: transparent;
      }
    }
  }
}
