.pum-content {
    line-height: 1.8;
    font-family: $ff-base;
}

.lec-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2em 0;
    @include for-tablet-portrait-up {
        flex-direction: row;
    }
    .img-container {
        flex: 1;
    }
    .content-container {
        flex: 3;
    }
}

.pum-close,
.popmake-close {
    font-size: 0!important;
    background: none!important;
    color: $c-blue!important;
    &:after {
        content: "\f00d";
        font-family: FontAwesome;
        font-size: 20px;
    }
}
