.post {
  max-width: 1024px;
  padding: 0 16px;
  margin: 0 auto!important;
  &:first-of-type {
    padding-top: 2em!important;
  }
}

// 標題
.entry-title {
  color: $c-primary;
  .link {
    &:hover {
      color: darken($c-primary, 10%);
    }
  }
}

// 刊登時間
.entry-meta .posted-on {
  a {
    // icon
    &:before {
      display: none;
    }
  }
}

.entry-summary {
  font-size: 16px;
}

.excerpt-image-left .archive-post-wrap .entry-meta {
  color: #999;
  font-size: .8em;
}

// Read More
.more-link {
  display: none;
}

.page-header {
  padding: 1em 1.4em 0;
  margin: 0 auto;
  max-width: 1024px;
  .page-title {
    display: inline-block;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    color: #a3a3a3;
    padding: .3em .5em;
    margin: 5px 0;
    transition: .1s ease-in-out;
  }
}

.page-header .page-title {
  // 分隔線
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 1em;
  max-width: 1024px;
}

.archive-post-wrap {
  border-bottom: 1px solid $c-grey--light-2;
  margin: 25px auto;
  @include for-tablet-landscape-up {
    padding: 25px 0;
  }
  .entry-title {
    font-size: 22px;
  }
}

// navigation pager
#nav-below {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 1.4em;
  padding-right: 1.4em;
  padding-top: 50px;
  margin-bottom: 4em;
}

.nav {
  &-count {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    padding: 0 1.4em;
    &__post,
    &__page {
      padding: 0 .5em;
    }
  }
  &-previous {
    flex: 1;
    text-align: left;
  }
  &-first,
  &-last {
    flex: 1;
    text-align: center;
  }
  &-next {
    flex: 1;
    text-align: right;
  }
}

.nav-previous,
.nav-next,
.nav-first,
.nav-last {
  a {
    border: 1px solid transparent;
    color: $c-primary;
    font-size: 20px;
    padding: .3em .5em;
    margin: 5px 0;
    transition: .1s ease-in-out;
    &:hover {
      color: rgba($c-primary, .7);
    }
    i {
      padding: 0 10px;
    }
  }
}
