.hentry {
    margin: 0!important;
    padding: 0;
}

.wrapper {
    width: 100%;
    padding: 0!important;
    margin: 0 auto!important;
    @include for-desktop-up {
        max-width: 1280px;
    }
    @include for-big-desktop-up {
        max-width: 1920px;
    }
}

.entry-header {
    padding: 0;
}

.site-main {
    margin: 0 auto!important;
    padding: 0!important;
    width: 100%!important;
}

.site-content {
    background-color: $c-base;
    padding: 0;
}
