.hentry {
    margin: 0!important;
    padding: 0;
}

.wrapper {
    width: 100%;
    padding: 0!important;
    margin: 0 auto!important;
    @include for-desktop-up {
        max-width: 1280px;
    }
    @include for-big-desktop-up {
        max-width: 1920px;
    }
}

.entry-header {
    padding: 0;
}

.site-main {
    margin: 0 auto!important;
    padding: 0!important;
    width: 100%!important;
}

.site-content {
    background-color: $c-base;
    padding: 0;
}

.sow-headline {
    line-height: 2!important;
}

.sow-slider-image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem!important;
    h2 {
        font-size: calc(4vw + 10px)!important;
        text-align: justify!important;
        @include for-tablet-portrait-up {
            font-size: 4rem!important;
        }
    }
}

.sec-hero {
    .sow-slider-image {
        padding-bottom: 60%!important;
    }
}

.sec-kv {
    .sow-slider-image {
        padding-bottom: 40%!important;
    }
    .sow-slider-image-container,
    .sow-slider-image-wrapper {
        height: 100%!important;
    }
}

.sow-features-list {
    margin: 0!important;
}

.sow-features-feature {
    padding: 0!important;
}
