.hentry {
  margin: 0!important;
  padding: 0;
}

.wrapper {
  width: 100%;
  padding: 0!important;
  margin: 0 auto!important;
  @include for-desktop-up {
    max-width: 1280px;
  }
  @include for-big-desktop-up {
    max-width: 1920px;
  }
}

.entry-header {
  padding: 0;
}

.site-main {
  margin: 0 auto!important;
  padding: 0!important;
  width: 100%!important;
}

.site-content {
  background-color: $c-base;
  padding: 0;
}

.sow-headline {
  line-height: 2!important;
}

// banner(hero)
.sow-slider-image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem!important;
  h1,
  h2 {
    font-size: calc(4vw + 10px)!important;
    text-align: justify!important;
    text-shadow: none!important;
    @include for-tablet-portrait-up {
      font-size: 50px!important;
      font-weight: 800!important;
      letter-spacing: 3px!important;
    }
  }
  h6 {
    font-size: 18px!important;
    font-weight: 200!important;
    letter-spacing: 1px!important;
    text-shadow: none!important;
  }
}

.sow-features-list {
  margin: 0!important;
  flex-direction: row!important;
  flex-wrap: wrap;
  justify-content: center;
}

.sow-features-feature {
  padding: 0!important;
  margin: 0!important;
  min-width: 8.8em!important;
  @include for-tablet-portrait-up {
    max-width: 90%!important;
  }
  @include for-tablet-landscape-up {
    max-width: initial!important;
  }
  .sow-icon-container.sow-container-round {
    width: 100%!important;
    justify-content: center;
    display: flex;
    margin: auto!important;
    &:before {
      content: '';
      padding-top: 100%;
    }
  }
  .sow-icon-image {
    width: 90%!important;
    max-width: 150px;
    background-color: white;
    border-radius: 50%;
    height: auto!important;
    background-size: 90%!important;
    top: 50%!important;
    transform: translateY(-50%);
    &:before {
      content: '';
      padding-top: 100%;
    }
  }
}

.wpsm-show {
  max-width: 100%;
}

.ow-button-base a {
  max-width: 100%;
}

.sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h1 {
  @include for-phone-only {
    font-size: calc(6vw + 10px)
  }
}

.sow-icon-container {
  transition: .3s ease-in-out;
}

// in lightbox trigger
.pum-trigger {
  &:hover {
    .sow-icon-container {
      transform: scale(1.05);
    }
  }
  .sow-features-feature {
    @include for-phone-only {
      max-width: initial!important;
    }
    @include for-tablet-portrait-up {
      max-width: 250px!important;
    }
  }
}

.panel-row-style {
  flex-direction: row!important;
}

// 了解更多
.show_more {
  text-align: center;
}

.wpsm-hide {
  position: relative;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.wpsm-content {
  position: relative;
  transition: 1s ease;
  overflow: hidden;
  max-height: 5999px;
  display: block;
  text-align: justify;
  padding-bottom: 3em;
  &.wpsm-content-hide {
    padding-bottom: 0;
    max-height: 0;
    display: block;
  }
}

.wpsm-show {
  position: relative;
  visibility: visible;
  opacity: 1;
  transition: .1s ease-in-out;
  &.wpsm-content-hide {
    display: inline-block;
    position: relative;
    visibility: hidden;
    opacity: 0;
  }
}

.link--hover-yellow {
  transition: .1s ease-in-out;
  &:hover {
    background: #fdd000!important;
    border: 1px solid #fdd000!important;
  }
}

// 展開看更多
.collapseomatic {
  background-position: 0 0.3em;
}
