.row-salon {
    >div {
        transition: .1s ease-in-out;
        padding-bottom: 1em;
        &:hover {
            box-shadow: 1px 1px 5px $c-grey;
        }
    }
    .sow-sub-headline {
        padding: 0 .5em;
        text-align: center!important;
        @media (min-width: 769px) {
            text-align: left!important;
        }
    }
}

.so-widget-image {
    margin: 0 auto!important;
}
