.row-salon {
    >div {
        transition: .1s ease-in-out;
        padding-bottom: 1em;
        &:hover {
            box-shadow: 1px 1px 5px $c-grey;
        }
    }
    .sow-sub-headline {
        padding: 0 .5em;
    }
}
