.sow-slider-base .sow-slide-nav.sow-slide-nav-prev {
    left: 5%;
}

.sow-slider-base .sow-slide-nav.sow-slide-nav-next {
    right: 5%;
}

.siteorigin-panels-stretch.panel-row-style.panel-row-style-for-26-0 {
    margin: 0!important;
}

// generation swiper
.siteorigin-panels-stretch.panel-row-style.panel-row-style-for-26-10 {
    margin: 0!important;
}

.sow-slider-base .sow-slider-images .sow-slider-image.sow-slider-image-cover {
    height: auto!important;
    padding-top: 50%!important;
}

.swiper-pagination-bullet-active {
    background: $c-blue!important;
}
