.sow-slider-base .sow-slide-nav.sow-slide-nav-prev {
    left: 5%;
}

.sow-slider-base .sow-slide-nav.sow-slide-nav-next {
    right: 5%;
}

.swiper-slide {
    height: 300px;
    margin-left: 30px!important;
    margin-right: 0!important;
}

.swiper-pagination-bullet-active {
    background: $c-blue!important;
}
