@import '../../sass/variable';
@import '../../sass/mixin/breakpoint';
.faq {
  margin-top: 2em;
  margin-bottom: 2em;
}

.faq-bricks {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  border-bottom: 1px solid $c-grey--light;
  .brick {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    width: calc(100% / 4);
    min-height: 3.5em;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 3.2px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    color: $c-grey;
    transition: .3s ease-in-out;
    padding: .5em;
    &:hover,
    &.is-active {
      color: $c-primary;
      border-bottom: 1px solid $c-primary;
    }
    @include for-tablet-portrait-up {
      font-size: 18px;
    }
    @include for-desktop-up {
      width: calc(100% / 5);
    }
  }
}

.faq-type-container {
  visibility: hidden;
  opacity: 0;
  transition: .7s ease-in-out, height 0s;
  max-height: 0;
  overflow: hidden;
  &.is-active {
    visibility: visible;
    opacity: 1;
    max-height: 9999px;
  }
  &#faq-main {}
  &#faq-teacher {}
  &#faq-training {}
  &#faq-influence {}
  &#faq-support {}
  &#faq-system {}
}

.faq-group {
  border-bottom: 1px solid;
  border-color: $c-grey--light-2;
  margin: 1em;
  padding: 0 0 5px;
  @include for-tablet-portrait-up {
    padding: 10px 0 20px;
  }
  .title-container {
    position: relative;
    padding-left: 1.4em;
    line-height: 1;
    cursor: pointer;
    text-align: justify;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border: 1px solid #979797;
      border-radius: 50%;
      transition: .1s ease-in-out;
    }
    .q-title {
      color: $c-grey;
      font-size: 18px;
      padding-left: 1em;
      transition: .1s ease-in-out;
      letter-spacing: 1.8px;
      @include for-tablet-portrait-up {
        font-size: 22px;
      }
    }
    &.is-active {
      &:before {
        background-color: $c-green;
        border-color: $c-green;
      }
      .q-title {
        font-weight: bold;
      }
    }
  }
  .content-container {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: .1s ease-in-out, .3s transform ease-in-out;
    height: 0;
    text-align: justify;
    font-size: 16px;
    @include for-tablet-portrait-up {
      padding-left: 45px;
    }
    &.is-active {
      opacity: 1;
      transform: scaleY(1);
      height: auto;
      padding: 10px 0 20px;
      @include for-tablet-portrait-up {
        padding-left: 45px;
      }
    }
  }
}
